{% extends "base.html" %}
{% block body %}
	<h1>Lisa-Maria's Annoying Stuff</h1>
	<p>This is Lisa-Maria's page of annoying stuff.</p>
	<p>Stuff like her annoying kids playing their annoying music <em>[coming shortly]</em>,
		and an annoying nickname generator.</p>
	<p>Go ahead and click around...but you'll need a 
		password for some stuff.  And hint:  It's not 'bacon'.</p>
	<p>Maybe one
		day it will be less annoying, but for now...</p>
	<p>........       </p>	 
	<p> Enjoy! (snicker, snicker)</p>		 
{% endblock %}
	