{% extends "base.html" %}
{% block body %}
	<h1>Project Ideas</h1>
	<p>This is my first page.  I'm trying out different things.  I'm not quite sure if what I am doing is "playing with Bootstrap," or if this is just leaning HTML.  </p>
	<h3>3 Ideas for Simple Apps</h3>
	<ol>
		<li><p> <strong>Python Line "Executor":</strong> Simple app that executes one line of Python using 'exec' instead of 'eval'.</p></li>
		<li><p><strong>Video Player:</strong> Similar to music player, but using video filesinstead of sounds files.</p></li>
		<li><p><strong>Pale Kids Nickname Generator:</strong> The Pale Kids (characters from Disney's Recess)call each other nicknames by spelling their names backwards, eg. Frank becomes Knarf, and TJ becomes JT. App asks user for string. Uses python to reverse the order of the letters,and fix capitalization.  I've written the python program, and have got everything working except for irregularly capitalized names like "LaSalle."  I've also got to figure out how to incorporate the python program into this web-page.</p></li>
	</ol>
    <h3>One Moderately More Complex Idea</h3>
    <strong><em>Cien Libros: </em>Hernandez 100 Book Summer Project</strong>
    <p>My kids' school, the Rafael Hernandez, asks that the students read 100 books/chapters over the summer.  The students are handed sheets to record their reading, as well as a poster of an empty gumball machine.  Each time they read a book/chapter, they put a sticker (ie a gumball) on their gumball machine.  I'd like to build an app that does this online and keeps the individuals reading information. Later--when I get more skill, obviously--I'd like to add a searchable database that links the records, so kids can see what their friends are reading, and who else is reading what they are reading.</p>
    <h1>PRESENT HTML/WEB DESIGN GRIPES <small>hopefully to soon be resolved...</small></h1>
    <h5><ol>
    	<li><p>Can't figure out how to change spacing between paragraphs, or lead spacing, or trail spacing.</p></li>
    	<li><p>What is it with that weird line just floating in the Navigation list?  Huh?  HUH?</p></li>
    	<li><p>Margins, margins, margins!</p></li>
    	<li><p>I'm no artist, but a little color wouldn't be bad.</p></li>
    	<li><p>How to make links.</p></li>
    	<li><p>How to add an "active" vs."static" page</p></li>
	</ol></h5>
	<p>Hopefully these will all be resolved soon, and then I expect a new crop of gripes.  Have to admit, I much prefer the "programming" side of things, and hope that soon the "web app" side incorporates more programming.</p>
{% endblock %}